//
// Variables
// ---------------------
@muiBtnDefaultGap:15px;
@muiBtnHeight:42px;
@muiBtnMiniHeight:1.9;
@muiBtnFontSize:18px;
@muiBtnFontColor:#FFFFFF;
@muiBtnDisabledFontColor:rgba(255,255,255,.6);
@muiBtnActiveFontColor:rgba(255,255,255,.4);
@muiBtnMiniFontSize:14px;
@muiBtnBorderRadius:5px;

@muiBtnDefaultBg:#F7F7F7;
@muiBtnDefaultActiveBg:#DEDEDE;
@muiBtnDefaultFontColor:#454545;
@muiBtnDefaultDisabledFontColor:#C9C9C9;
@muiBtnDefaultActiveFontColor:#A1A1A1;

@muiBtnBrandBg:#0093D5;
@muiBtnBrandActiveBg:#268CBC;

@muiBtnPrimaryBg:#04BE02;
@muiBtnPrimaryActiveBg:#039702;

@muiBtnWarnBg:#EF4F4F;
@muiBtnWarnActiveBg:#C13E3E;

//
// Mixins
// ---------------------
.setTapColor(@c:rgba(0,0,0,0)) {
    -webkit-tap-highlight-color: @c;
}

//
// Base style
// ---------------------
.mui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: @muiBtnFontSize;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: unit(@muiBtnHeight/@muiBtnFontSize);
    border-radius: @muiBtnBorderRadius;
    .setTapColor();
    overflow: hidden;
    &:after {
        content: " ";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(0, 0, 0, .2);
        transform: scale(.5);
        transform-origin: 0 0;
        box-sizing: border-box;
        border-radius: @muiBtnBorderRadius*2;
    }
    &+.mui-btn {
        margin-top: @muiBtnDefaultGap;
    }

    &.mui-btn-inline {
        display: inline-block;
    }
    &.mui-btn-mini {
        line-height: @muiBtnMiniHeight;
        font-size: @muiBtnMiniFontSize;
        padding: 0 .75em;
        display: inline-block;
    }
}

.mui-btn-default {
  background-color: @muiBtnDefaultBg;
  color: @muiBtnDefaultFontColor;
  &:not(.mui-btn-disabled):visited {
    color: @muiBtnDefaultFontColor;
  }
  &:not(.mui-btn-disabled):active {
    color: @muiBtnDefaultActiveFontColor;
    background-color: @muiBtnDefaultActiveBg;
  }
}
.mui-btn-brand {
  background-color: @muiBtnBrandBg;
  &:not(.mui-btn-disabled):visited {
    color: @muiBtnFontColor;
  }
  &:not(.mui-btn-disabled):active {
    color: @muiBtnActiveFontColor;
    background-color: @muiBtnBrandActiveBg;
  }
}
.mui-btn-primary {
  background-color: @muiBtnPrimaryBg;
  &:not(.mui-btn-disabled):visited {
    color: @muiBtnFontColor;
  }
  &:not(.mui-btn-disabled):active {
    color: @muiBtnActiveFontColor;
    background-color: @muiBtnPrimaryActiveBg;
  }
}
.mui-btn-warn {
  background-color: @muiBtnWarnBg;
  &:not(.mui-btn-disabled):visited {
    color: @muiBtnFontColor;
  }
  &:not(.mui-btn-disabled):active {
    color: @muiBtnActiveFontColor;
    background-color: @muiBtnWarnActiveBg;
  }
}

.mui-btn-disabled {
  color: @muiBtnDisabledFontColor;
  &.mui-btn-default {
    color: @muiBtnDefaultDisabledFontColor;
  }
}
//A类
// .mui-btn-a(@bgcolor:#0092d8,@color:#fff) {
//     border-radius: 2px;
//     background-color: @bgcolor;
//     text-align: center;
//     color: @color;
//     border: 1px solid @bgcolor;
//     width: 38px;
//     height: 29px;
//     margin: 0;
//     padding: 0;
//     line-height: 29px;
//     font-size: 12px;
//     display: inline-block;
//     padding-left: 0;
//     padding-right: 0;
// }
// .mui-btn-a-blue {
//     .mui-btn-a();
// }
// .mui-btn-a-white {
//     .mui-btn-a(@bgcolor:#F7F7F7,@color:#454545);
// }
// .mui-btn-a-red {
//     .mui-btn-a(@bgcolor:#EF4F4F);
// }
// .mui-btn-a-green {
//     .mui-btn-a(@bgcolor:#04BE02);
// }
//B类
.mui-btn-b-white {
    display: block;
    padding: 0 14px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    color: #333;
}
//C类
.mui-btn-c(@width:73px,@color:#0093d5) {
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin: 15px 10px 15px 0;
    font-size: 12px;
    border-radius: 3px;
    width: @width;
    border: 1px solid @color;
    color: @color;
    padding-left: 0;
    padding-right: 0;
}
.mui-btn-c-white {
    .mui-btn-c(@color:#F7F7F7);
    color:#454545;
}
.mui-btn-c-blue {
    .mui-btn-c();
}
.mui-btn-c-green {
    .mui-btn-c(@width:60px,@color:#17c000);
}
.mui-btn-c-orange {
    .mui-btn-c(@width:60px,@color:#f60);
}
//D类
.mui-btn-d-white {
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ccc;
}
//E类
.mui-btn-e-white {
    display: block;
    min-width: 100px;
    padding-left: 15px;
    text-align: center;
    color: #0092d8;
    padding-left: 0;
    padding-right: 0;
}

//F类
.mui-btn-f-orange {
    margin-left: 50px;
    background-color: #f60;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
}
.f-orange-wrap {
    -webkit-box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    float: left;
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    cursor: pointer;
    border-right: 1px solid #f4f4f4;
}
