//
// Variables
// ---------------------
//page
$pageDefaultBackgroundColor:#EFEFF4;

$muiCellBorderColor:#D9D9D9;

$bgColor:#ECECEC;


//
// Mixins
// ---------------------
@mixin setTopLine($c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}


//
// Action Sheet Style
// PS: 动画部分的样式有做修改(v-animation)
// ---------------------
.mui-mask-transition{
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);//v-animation
    transition:background .3s;
}

.mui-actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);//v-animation
    backface-visibility: hidden;
    z-index: 2;
    width: 100%;
    background-color: $pageDefaultBackgroundColor;
    //slide up animation
    transition: transform .3s;
}
.mui-actionsheet-menu{
    background-color: #FFFFFF;
}
.mui-actionsheet-action {
    margin-top: 6px;
    background-color: #FFFFFF;
}
.mui-actionsheet-button {
    position: relative;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    &:before {
        @include setTopLine($muiCellBorderColor);
    }
    &:active{
        background-color: $bgColor;
    }
    &:first-child{
        &:before{
            display: none;
        }
    }
}

//actionSheet aniamtion(v-animation)
.mui-actionsheet-transition {
  transition-duration: .3s;// 这个要设置为最长的
}
.mui-actionsheet-enter, .mui-actionsheet-leave {
  .mui-mask-transition {
    background: rgba(0,0,0,0);
  }
  .mui-actionsheet {
    transform: translate(0, 100%);
  }
}
.mui-actionsheet-leave {
  .mui-mask-transition {
    display: none;
  }
}
