//
// variables
// -------------------------
$muiBrandColor: #0092D8;

// Group
$muiCellBg:#FFFFFF;
$muiCellBorderColor:#D9D9D9;
$muiCellGapV:13px;
$muiCellGapH:15px;
$muiCellInnerGapH:.35em;
$muiCellHeight: 44px;
$muiCellFontSize:14px;
$muiCellTipsFontSize:14px;
